@using Vidly.Models
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
//    var ClassName = Model.customers.Count > 0? "Popular" : null;
}
@* <h2 class="@ClassName">@Model.Movie.Name</h2> *@

@* //@Model.customers *@
@* *@
@* <ul> *@
@*     @foreach (var Customer in Model.customers) *@
@*     { *@
@*         <li>@Customer.Name</li> *@
@*     } *@
@* *@
@* *@
@* </ul> *@

@* page1 Code  *@
@* *@
@* @if (Model.customers.Count==0) *@
@* *@
@* { *@
@* *@
@*     <p> No One rented this Movie</p> *@
@* } *@
@* *@
@* else *@
@* { *@
@*     <ul> *@
@*          *@
@*         @foreach (var customer_name in Model.customers) *@
@*         { *@
@*             <li> @customer_name.Name</li> *@
@*         } *@
@*     </ul> *@
@* } *@



@*  
working for Customers page

*@
@if (Model.Customers.Count==0)
{
    <p> <h3>There is no Customer Exist In a database </h3></p>
}

else
{
    <table  class="table table-bordered table-hover">
        @foreach (var customersName in Model.Customers)



        {

        <tr > @customersName</tr>
        }



    </table>



}


   
 